#whiskermenu-window {
	color: #f2f2f2;
  	background-color: #2b2e37;
}


/* Make sidebar buttons match */
#whiskermenu-window button {
	background-color: #2b2e37;
	color: #f2f2f2;
}
#whiskermenu-window button:hover {
	background-color: #3f4453;
	color: #f2f2f2;
}
#whiskermenu-window button:checked {
	background-color: #4084d6;
	color: #f2f2f2;
}

/* Make treeview match */
#whiskermenu-window treeview {
	background-color: #fff;
	color: #2b2e37;
}
#whiskermenu-window treeview:hover {
	background-color: #3f4453;
	color: #f2f2f2;
}

#whiskermenu-window *:not(button){
	border-color: #2b2e37;
}
